.navbarblue
{
  background-color: #3B5998;
  height: 10px;
  border:none;
  padding-right:80px;
}
.navbar{
  min-height: 40px; 
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;    
}
.navbar-collapse{
  position:relative;
}
.searchbox{
  margin-top:8px;
  margin-right:-5px; 
  margin-left: -8px;
  height:22px; 
  width:380px; 
  border-radius: 2px; 
  border:none; 
  vertical-align:middle; 
}
.searchbutton{

  margin-left:0px !important;
  height:22px !important;
  width:45px; 
  border:none;
  vertical-align: middle;
  margin-top: 9px;
  margin-bottom: 2px;
  border-top-right-radius:2px; 
  border-bottom-right-radius:2px;
  background-color:#e5e5e5;
}
.searchsymbol{
  color:#404142;
  font-size: 13px !important;
}
.fb-image{
  margin-left: -160px !important;
  margin-top: -10px;
  color:#262626

}
.fb-image :hover{
  color:#262626;
}

#fbimage1{
  width:20px;
  height: 23px;
  margin-top: -10px;
}
#fbimage2{
  height:18px;
  width:18px;
  margin-top:-10px;
  margin-left:-158px !important;
}

#fbimage3{
  width: 19px;
  height: 18px;
  margin-left: -160px !important;
}
.fb-slash{
 font-size: 30px;
 margin-top:-5px; 
 color:#162e54 ;
 margin-left: -155px !important;
 margin-right:20px !important;
}
#fbimage4{
  width: 15px;
  height:15px;
  color: black;
}

#fbimage5{
  width: 10px;
  height:10px;
}

.fb-wall{
  max-width: 100% !important;
  top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fb-profile img{
  width: 150px;
  height:150px;
  position: relative;
  margin-top: -140px;
  border:5px white; 

}

.tab-nav{
  position: relative;
}
#profile {
  height: 100%;
  padding: 15px;
  width: auto;
}
@media only screen and (max-device-width: 480px) {
  .fb-profile img{
  width: 80px;
  height:80px;
  position: c;
  margin-top: -70px;
  border:5px white; }
  .nav-tabs {
    text-align:center;
  }
  .nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
  }
  .navbarbutton{
    float: left;
  } 

}

.intro{
  background-color: white;
}
i.intro{
  color:#AEACB7 ;
  font-size: 10px;
  margin-right:12px;
}
li.intro{
  list-style: none;
  text-align: justify;
}
.intro-text{
  font-size:12px;
  text-align: center;
}
.wall{
  background-color: white;
  padding-top:20px;
  margin-bottom: 10px;
}
p.wall{
  word-wrap: break-word;
}
.wall-header{
  padding-left: 10px;
}
.wall-header-topic{

 display: inline;
 word-wrap: break-word;
}
.wall-header-loc {
font-size: 10px;
color:red;
 display: inline;
 word-wrap: break-word;
}
.wall-header img{
  float: left;
  width:100%;
}
.description{
  padding-top: 5px;
    padding-left: 5px;
  padding-right: 5px;
}
.description p{
  font-size: 15px;

}
@media only screen and (max-device-width: 480px) {
   .spacing{
      margin-bottom: 15px;
  }

}
.header-text{
  margin-bottom: 0px !important;
  margin-top: 0px;
}
iframe{
  padding-left: 5px;
  padding-right: 5px;
}
.icons-contact{
  text-align: center;
}
.text-contact{
  text-align: center;
}
body{
  margin-top: 20px;
  background-color: #EAEBEF;
}

